<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      Pagina desarrollada por Andres Felipe Avendaño, con ayuda de la guia de Fazt, para la integracion de Mongo, Express, NodeJS y Javascript.
    </p>
  </div>
</section>
