body {
  background: #1488CC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgb(255, 255, 255), rgb(252, 252, 252));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgb(255, 255, 255),  rgb(255, 255, 255)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
  width: 30%;
}

/* Always set the map height explicitly to define the size of the div
  * element that contains the map. */
#map {
  height: 400px;
  width: 100%;
}
